@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --bodyBg:#FAFAFA;
        --primaryColor:#00789A;
        --stepsText:#465668;
        --inputBorder:#E1E1E1;
        --textWhite:#ffffff;
        --textBlack:#000000;
        --bgblack:#f1f1f1;
        --lightWhite:#000000;
        --lightDark:#ffffff;
        --sectionBG:#FAFAFA;
        --borderLightGreen:rgba(216, 244, 246, 0.20); /* change  */
        --inputDarkBorder:#E5ECF2;
        --labelGrey:#555E67; 
        --stepsGrey:#8A8A8C; /* change if required change  */
        --placeholderGrey:#757575;
        --summaryLabelGrey:#636466; /* change if required change  */
        --sidebarBr:#3C4147;
        --breadcrum:#636466;
        --profileBr:#3C4147;
        --borderHr:#E1E1E1;
        --textPrimary:#00789A;       
        --cancelButtonBlackBg:#ffffff; /* change if required change  */
        --cancelButtonGreyBorder:#E1E1E1; /* change if required change  */
        --buttonActiveBg:#0c6e89; 
        --cancelBtnHover:#f5f3f0;
        --menuText:#555e67;
        --menuhover:#ECECEC;
        --logoutBtn:#DCE1E8;
        --logoutBtnHover:#CB5C71;
        --descriptionGreyTwo:#3C4147;
        --buttonGreyBg:#34383E; /* change if required change  */
        --leftamountbg:#ECECEC;
        --leftamontBr:#E1E1E1;
        --searchBg:#ffffff;
        --searchBr:#ECECEC;
        --tableheaderBlack:#f1f1f1;/* change if required change  */
        --tableheaderBorder:#CCCCCC;/* change if required change  */
        --coinListBg:#E1E1E1;
        --coinListActive:#ECECEC;
        --coinBr:#E1E1E1;
        --nameCircle:#00789A;
        --rightincard:#f3f3f3;
        --rightincardBr:#ECECEC;
        --summaryLabel:#000000;
        --summaryText:#1F2125;
        --summarytotalbr:#E1E1E1;
        --tabletdBg:#F3F3F3;/*ned to change*/
        --tabletdBghover:#E1E1E1;
        --modaltextbr:#454C50;
        --modalcontText:#BBBBBB;
        --numerBadge:#8C8E91;
        --btnDisabled:#d1d5db;
        --signUpDarkBg:#00789A;
        --screenBlackBg:#ffffff;
        --textGrey:#121212;
        --uploadCard:#f3f3f3;
        --textGreen:#1FB042;
        --textLightRed:#ff0000;
        --amountBr:#777676;
        --textSkyblue:#38CFED;
        --darkyellowStatus:#B88A00;
        --greySupportedPlotforms:#999999;/* change if required change  */
        --loginGreyBorder:#e5ecf2;
        --transparentBlackBg:rgba(56, 57, 59, 0); /* change if required change  */
        --permissionTopbr:#E1E1E1;
        --textGray:#B6B8BA;
        --textGray2:#99999A;
        --requiredRed:#f72020;
        --cardBg:rgba(56, 57, 59, 0.04);
        --cardBorder:rgba(216, 244, 246, 0.09);
        --amounttableHeader:#F3F3F3; /* change if required change  */
        --addLabelBg:#FAFAFA;/* change if required change  */
        --kendoheader:#ffffff;
        --kendoheadbr:#ffffff;
        --kbodyrow:#ffffff;
        --kbodyrowbr:#ffffff;
        --kendotdBghover:#F0F1F1;
        --kendotdBghoverBr:#EBEFF1;
        --kendofooter:#ffffff;
        --kendofooterbr:#ffffff;
        --kfooterarrow:#5D5858;
        --kheadText:#636466;
        --kpagetrbg:#7caff15e;
        --kpagenum:#5D5858;
        --tableInputBg:#ffffff;   /* change if required change  */
        --scrollBar:#f3f4f9;
        --referralbg:#FDFDFD;
        --errorBorderRed:#ff4d4f;
        --closedStatus:#808286;
        --textRed:#CB5C71;
        --referralborder:#717378;
        --lighttext:#000000;
        --tabbg:#ffffff;
        --tabActive:#00789A;
        --tabcolor:#555e67;
        --profileBtn:#34383E;
        --amountBbr:#000000;
        --getcodebr:#505050;
        --labelborder:#31363A;
        --profileTabActiveBg:#ECECEC;
        --notifPara:#636466;
        --profilehrbr:#E1E1E1;
        --profilesubtext:#000000;
        --blueBorder:#1C77EA;
        --errorpara:#A1A2A3;
        --textApproved:#1FB042;
        --textPending:#356DE9;
        --textReject:#CB5C71;
        --textSubmit:#FFBF00;
        --inputDisabled:#dcdbdc;
        --greennotification:#059a58;
        --secondaryBg:#ebebed;
        --qrcodeBg:#E1E1E1;
        --overlayblack:rgba(254, 525, 505, 0.50);
        --registerLabelBg:#ffffff;
        --errorBg:#dc3545;
        --warningBg:#fbdc7f;
        --infoBg:#17a2b8;
        --partiallyPaid:#FF9800;
        --StrokeColor:#e5ecf2;
        --tabletext:#8F9092;
        --inputfield:#2F3337;
        --feesviewborder:#773E13;
        --membershipcardsbg:#ECECEC;
        --membershiptextblue:#0EB0FB;
        --membershipborder:#1C77EA;
        --membershiptextsilver:#D0B28B; 
        --membershipbordersilver:#CFBDA9;
        --membershipgoldtext:#E9BD5C;
        --membershiplightsilver:#01567E;
        --membershipfreecardbg:#e9e6e6;
        --membershipvaultsbg:#1B1C1F;
        --membershiptableborder:#e0eaf3;
        --browncolor:#A56C41;
        --deposisttablebr:#25272B;
        --topbr:#222428;        
        --membershiptopbr:#222428;
        --referralBg:#f1f1f1;
        --referralBr:#e5ecf2;
        --dbkpiPara:#555e67;
        --dbkpiText:#0a0d11;
        --dbkpiStroke:#e5ecf2;
        --titleColor:#101014;
        --kpcardhover:#F0F1F1;
        --advcard:#F1F6FD;
        --paraColor:#555e67;
        --subTextColor:#0a0d11;
        --BlackBg:#f1f1f1;
        --sidedrawerBg:#FAFAFA;
        --defaultBadge:#1E88E5;
        --radioBtn:#000000;
        --Unfreezed: #3CB371;
        --FreezePending: #FFD700;
        --UnfreezePending: #FF7F50;
        --UnderMaintenance: #B22222;
        --Freezed: #B0BEC5;
        --leftlistHover:#d6f6ff;
        --pendingStatus:#4682B4;
        --cardbackground:#ffffff;
        --tabsBg:#ECECEC;
        --cryptoline:#ced2da;
        --Borderbr:#293648;
        --inputBg:#F4F7FA;
        --notPaid:#5981FF;
        --paidApproved:#1B9C3B;
        --canceled:#F70101;
        --submiteted:#2757f6;
        --rewardsTabsText:#555e67;
        --rewardsBtnBg:#ECECEC;
        --questGreenBg:#8ae8b1;
        --questGreenBorder:#0ed14321;
        --questPurpleBg:#c6afe9;
        --questPurpleBorder:#4e349a;
        --inputTextBorder:#b4bbc1;
        --orangeBg:#e9ceaf;
        --textvodika:#00789A;
        --dropdownBg:#ECECEC;
        --disableBtnBg:#E2E8F0;
        --dropdownSelectBg:#ECECEC;
        --skeletonLoader: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
        --themeIcons:url(./icons/arthapay-light-theme-icons.svg);

    }
    :root[class="dark"] {
        --bodyBg:#101014;
        --primaryColor:#00C9FF;
        --stepsText:#8A8A8C;
        --inputBorder:#D9D9D9;
        --textWhite:#ffffff;
        --textBlack:#000000;
        --lightWhite:#ffffff;
        --lightDark:#000000;
        --bgblack:#000000;
        --sectionBG:#101014;
        --borderLightGreen:rgba(216, 244, 246, 0.20);
        --Borderbr:#293648;
        --inputDarkBorder:#293648;
        --labelGrey:#9baab5;
        --stepsGrey:#8A8A8C;
        --placeholderGrey:#737373;
        --summaryLabelGrey:#B0B4BA;
        --breadcrum:#B0B4BA;
        --sidebarBr:#3C4147;
        --profileBr:#3C4147;
        --borderHr:#d8f4f60a;
        --textPrimary:#00C9FF;
        --cancelButtonBlackBg:#1F2125;
        --cancelButtonGreyBorder:#1E232A;
        --buttonActiveBg:#18a9d1;
        --cancelBtnHover:#2C333A;
        --textRed:#CB5C71;
        --menuText:#B0B4BA;
        --menuhover:#1F2125;
        --logoutBtn:#1E232A;
        --logoutBtnHover:#CB5C71;
        --descriptionGreyTwo:rgba(255, 255, 255, 0.60);
        --buttonGreyBg:#34383E;
        --leftamountbg:#1A1A1A;
        --leftamontBr:#3C4147;
        --searchBg:#000000;
        --searchBr:#323130;
        --tableheaderBlack:#151619;
        --tableheaderBorder:#3C4147;
        --kheadText:#B0B4BA;
        --coinListBg:#202226;
        --coinListActive:#26282C;
        --coinBr:#303438;
        --nameCircle:#00C9FF;
        --transparentBlackBg:rgba(56, 57, 59, 0.04);
        --rightincard:#16171A;
        --rightincardBr:#3C4147;
        --summaryLabel:#B6B8BA;
        --summaryText:#FAF6F0;
        --summarytotalbr:#444B4F;
        --tabletdBg:#1A1A1A;
        --tabletdBghover:#1F2125;
        --signUpDarkBg:#1F2125;
        --screenBlackBg:#151619;
        --textGrey:#878787;
        --loginGreyBorder:#1E232A;
        --modaltextbr:#454C50;
        --modalcontText:#BBBBBB;
        --numerBadge:#8C8E91;
        --btnDisabled:#f5f5f4;
        --uploadCard:#1E1F22;
        --greySupportedPlotforms:#999999;
        --textGreen:#1FB042;
        --textLightRed:#ff0000;
        --textSkyblue:#38CFED;
        --amountBr:#777676;
        --darkyellowStatus:#B88A00;
        --permissionTopbr:#3C4147;
        --textGray:#B6B8BA;
        --textGray2:#99999A;
        --bgOrange:#00C9FF;
        --requiredRed:#f72020;
        --cardBg:rgba(56, 57, 59, 0.04);
        --cardBorder:rgba(216, 244, 246, 0.09);
        --addLabelBg:#101014;
        --amounttableHeader:rgba(56, 57, 59, 0.04);
        --kendoheader:#151619;
        --kendoheadbr:#1E232A;
        --kbodyrow:#16171A;
        --kbodyrowbr:#1E232A;
        --kendotdBghover:#16181D;
        --kendotdBghoverBr:#3C4147;
        --kendofooter:#34383E;
        --kendofooterbr:#555E63;
        --kfooterarrow:#999B9E;
        --kpagetrbg:#00C9FF36;
        --kpagenum:#999B9E;
        --tableInputBg:#151619;
        --scrollBar:#000000;
        --referralbg:#000F1E;
        --referralborder:#717378;
        --lighttext:#A5A6A8;
        --tabbg:#34383E;
        --profileTabActiveBg:rgba(56, 57, 59, 0.30);
        --tabActive:#00C9FF;
        --overlayblack:rgba(122, 122, 121, 0.12);
        --profileBtn:#34383E;
        --amountBbr:#3D4346;
        --errorBorderRed:#ff4d4f;
        --closedStatus:#808286;
        --tabcolor:#9BAAB5;
        --getcodebr:#505050;
        --labelborder:#31363A;
        --notifPara:#908D8D;
        --profilehrbr:#3C4245;
        --profilesubtext:#F1F1F1;
        --blueBorder:#1C77EA;
        --errorpara:#A1A2A3;
        --textApproved:#1FB042;
        --textPending:#356DE9;
        --textReject:#CB5C71;
        --textSubmit:#FFBF00;
        --inputDisabled:#343235;
        --secondaryBg:#1F2125;
        --greennotification:#059a58;
        --qrcodeBg:#34383E;
        --registerLabelBg:#1F2125;
        --errorBg:#dc3545;
        --warningBg:#fbdc7f;
        --infoBg:#17a2b8;
        --partiallyPaid:#FF9800;
        --StrokeColor:#1E232A;
        --tabletext:#8F9092;
        --inputfield:#2F3337;
        --feesviewborder:#773E13;
        --membershipcardsbg:#000F0C;
        --membershiptextblue:#0EB0FB;
        --membershipborder:#80D7FF;
        --membershiptextsilver:#D0B28B; 
        --membershipbordersilver:#CFBDA9;
        --membershipgoldtext:#E9BD5C;
        --membershiplightsilver:#AEBABA;
        --membershipfreecardbg:#1F2023;
        --membershipvaultsbg:#1B1C1F;
        --membershiptableborder:#272A2D;
        --browncolor:#A56C41;
        --deposisttablebr:#25272B;
        --membershiptopbr:#222428;
        --referralBg:#17171E;
        --referralBr:#45454A;
        --dbkpiPara:#9BABB5;
        --dbkpiText:#E5ECF2;
        --dbkpiStroke:#1E232A;
        --titleColor:#B0B4BA;
        --kpcardhover:#16181D;
        --advcard:#1F2125;
        --paraColor:#9BAAB5;
        --subTextColor:#E5ECF2;
        --BlackBg:#000000;
        --sidedrawerBg:#17191C;
        --defaultBadge:#1E88E5;
        --radioBtn:#404751;
        --Unfreezed: #3CB371;
        --FreezePending: #FFD700;
        --UnfreezePending: #FF7F50;
        --UnderMaintenance: #B22222;
        --Freezed: #B0BEC5;
        --leftlistHover:#2B313F;
        --pendingStatus:#4682B4;
        --cardbackground:#17191C;
        --tabsBg:#31353E;
        --cryptoline:#3c4251;
        --inputBg:#000000;
        --notPaid:#5981FF;
        --paidApproved:#1B9C3B;
        --canceled:#F70101;
        --submiteted:#2757f6;
        --rewardsTabsText:#E5ECF2;
        --rewardsBtnBg:#34383E;
        --questGreenBg:#006b2d;
        --questGreenBorder:#04694b6b;
        --questPurpleBg:#975bdc;
        --questPurpleBorder:#6c40ed;
        --inputTextBorder:#6a6464;
        --orangeBg:#6c550e;
        --textvodika:#00C9FF;
        --dropdownBg:#101014;
        --disableBtnBg:#29323e;
        --dropdownSelectBg:#1F2125;
        --skeletonLoader: linear-gradient(90deg, rgb(151 151 151 / 10%) 25%, rgb(157 154 154 / 23%) 37%, rgb(114 114 114 / 27%) 63%);
        --themeIcons:url(./icons/artapay-dark-theme-icons.svg);
    } 
    
} 
.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner{@apply !text-lightDark}
.cancel-btn.ant-btn-default:hover{@apply !text-primaryColor}
.custom-tabs .ant-tabs-tab.ant-tabs-tab-active span,
.custom-crypto-tabs.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,.ant-btn-primary.ant-btn-color-primary{@apply !text-lightDark}
/* .ant-btn-default.ant-btn-color-default:hover{@apply !text-lightDark} */
.ant-menu-item.ant-menu-item-selected .ant-menu-title-content span,li.ant-menu-item:hover span{@apply !text-menuText}
.ant-select-item-option-active{@apply !bg-menuhover}
.custom-address-type span,.bg-nameCircle,.currency-active,.custom-swithcher-tabs.active{@apply !text-lightDark}
