@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --bodyBg: #F8FAFC;
        --primaryColor: #3354CC;
        --stepsText:#465668;
        --inputBorder:#E1E1E1;
        --textWhite:#ffffff;
        --textBlack:#000000;
        --bgblack:#f1f1f1;
        --lightWhite:#000000;
        --lightDark:#ffffff;
        --sectionBG:#FAFAFA;
        --borderLightGreen:rgba(216, 244, 246, 0.20); /* change  */
        --inputDarkBorder:#E5ECF2;
        --labelGrey:#475569; 
        --stepsGrey:#8A8A8C; /* change if required change  */
        --placeholderGrey:#94A3B8;
        --summaryLabelGrey:#636466; /* change if required change  */
        --sidebarBr:#3C4147;
        --breadcrum:#475569;
        --profileBr:#e9edf2;
        --borderHr:#E1E1E1;
        --textPrimary:#3354CC;       
        --cancelButtonBlackBg:#ffffff; /* change if required change  */
        --cancelButtonGreyBorder:#E1E1E1; /* change if required change  */
        --buttonActiveBg:#2e4ec2; 
        --cancelBtnHover:#f5f3f0;
        --menuText:#475569;
        --menuhover:#ECECEC;
        --logoutBtn:#DCE1E8;
        --logoutBtnHover:#D32F2F;
        --descriptionGreyTwo:#3C4147;
        --buttonGreyBg:#34383E; /* change if required change  */
        --leftamountbg:#ECECEC;
        --leftamontBr:#E1E1E1;
        --searchBg:#ffffff;
        --searchBr:#ECECEC;
        --tableheaderBlack:#f1f1f1;/* change if required change  */
        --tableheaderBorder:#CCCCCC;/* change if required change  */
        --coinListBg:#E1E1E1;
        --coinListActive:#ECECEC;
        --coinBr:#E1E1E1;
        --nameCircle:#3354CC;
        --rightincard:#f3f3f3;
        --rightincardBr:#ECECEC;
        --summaryLabel:#000000;
        --summaryText:#1F2125;
        --summarytotalbr:#E1E1E1;
        --tabletdBg:#F3F3F3;/*ned to change*/
        --tabletdBghover:#E1E1E1;
        --modaltextbr:#454C50;
        --modalcontText:#BBBBBB;
        --numerBadge:#8C8E91;
        --btnDisabled:#d1d5db;
        --signUpDarkBg:#3354CC;
        --screenBlackBg:#ffffff;
        --textGrey:#121212;
        --uploadCard:#f3f3f3;
        --textGreen:#33CCAB;
        --textLightRed:#D32F2F;
        --amountBr:#777676;
        --textSkyblue:#38CFED;
        --darkyellowStatus:#B88A00;
        --greySupportedPlotforms:#999999;/* change if required change  */
        --loginGreyBorder:#e5ecf2;
        --transparentBlackBg:rgba(56, 57, 59, 0); /* change if required change  */
        --permissionTopbr:#E1E1E1;
        --textGray:#B6B8BA;
        --textGray2:#99999A;
        --requiredRed:#D32F2F;
        --cardBg:rgba(56, 57, 59, 0.04);
        --cardBorder:#dfdfed;
        --amounttableHeader:#F3F3F3; /* change if required change  */
        --addLabelBg:#FAFAFA;/* change if required change  */
        --kendoheader:#ffffff;
        --kendoheadbr:#ffffff;
        --kbodyrow:#ffffff;
        --kbodyrowbr:#ffffff;
        --kendotdBghover:#F0F1F1;
        --kendotdBghoverBr:#EBEFF1;
        --kendofooter:#ffffff;
        --kendofooterbr:#ffffff;
        --kfooterarrow:#5D5858;
        --kheadText:#636466;
        --kpagetrbg:#7caff15e;
        --kpagenum:#5D5858;
        --tableInputBg:#ffffff;   /* change if required change  */
        --scrollBar:#f3f4f9;
        --referralbg:#FDFDFD;
        --errorBorderRed:#D32F2F;
        --closedStatus:#808286;
        --textRed:#D32F2F;
        --referralborder:#717378;
        --lighttext:#000000;
        --tabbg:#ffffff;
        --tabActive:#3354CC;
        --tabcolor:#475569;
        --profileBtn:#34383E;
        --amountBbr:#000000;
        --getcodebr:#505050;
        --labelborder:#31363A;
        --profileTabActiveBg:#ECECEC;
        --notifPara:#475569;
        --profilehrbr:#E1E1E1;
        --profilesubtext:#000000;
        --blueBorder:#1C77EA;
        --errorpara:#A1A2A3;
        --textApproved:#33CCAB;
        --textPending:#FFBF00;
        --textReject:#D32F2F;
        --textSubmit:#379BEA;
        --inputDisabled:#e2e8f0;
        --greennotification:#33CCAB;
        --secondaryBg:#ebebed;
        --qrcodeBg:#E1E1E1;
        --overlayblack:rgba(254, 525, 505, 0.50);
        --registerLabelBg:#ffffff;
        --errorBg:#D32F2F;
        --warningBg:#fbdc7f;
        --infoBg:#17a2b8;
        --partiallyPaid:#FF9800;
        --StrokeColor:#E2E8F0;
        --tabletext:#8F9092;
        --inputfield:#2F3337;
        --feesviewborder:#773E13;
        --membershipcardsbg:#ECECEC;
        --membershiptextblue:#0EB0FB;
        --membershipborder:#1C77EA;
        --membershiptextsilver:#D0B28B; 
        --membershipbordersilver:#CFBDA9;
        --membershipgoldtext:#E9BD5C;
        --membershiplightsilver:#AEBABA;
        --membershipfreecardbg:#e9e6e6;
        --membershipvaultsbg:#1B1C1F;
        --membershiptableborder:#e0eaf3;
        --browncolor:#A56C41;
        --deposisttablebr:#25272B;
        --topbr:#222428;        
        --membershiptopbr:#222428;
        --referralBg:#f1f1f1;
        --referralBr:#e5ecf2;
        --dbkpiPara:#475569;
        --dbkpiText:#1E2B3B;
        --dbkpiStroke:#F4F7FA;
        --titleColor:#1E2B3B;
        --kpcardhover:#F0F1F1;
        --advcard:#e2e9f3;
        --paraColor:#475569;
        --subTextColor:#1E2B3B;
        --BlackBg:#f1f1f1;
        --sidedrawerBg:#FAFAFA;
        --defaultBadge:#1E88E5;
        --radioBtn:#000000;
        --Unfreezed: #3CB371;
        --FreezePending: #FFD700;
        --UnfreezePending: #FF7F50;
        --UnderMaintenance: #B22222;
        --Freezed: #B0BEC5;
        --leftlistHover:#EEEEEF;
        --pendingStatus:#FFD700;
        --cardbackground:#ffffff;
        --tabsBg:#ECECEC;
        --cryptoline:#ced2da;
        --Borderbr:#293648;
        --inputBg:#F4F7FA;
        --notPaid:#5981FF;
        --paidApproved:#1B9C3B;
        --canceled:#D32F2F;
        --submiteted:#2757f6;
        --rewardsTabsText:#475569;
        --rewardsBtnBg:#ECECEC;
        --questGreenBg:#8ae8b1;
        --questGreenBorder:#0ed14321;
        --questPurpleBg:#c6afe9;
        --questPurpleBorder:#4e349a;
        --inputTextBorder:#b4bbc1;
        --orangeBg:#e9ceaf;
        --textvodika:#3354CC;
        --disableBtnBg:#E2E8F0;
        --skeletonLoader: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
        --themeIcons:url(./icons/rapidz-light-theme-icons.svg);

    }
    :root[class="dark"] {
        --bodyBg:#0F172A;
        --primaryColor:#4768E0;
        --stepsText:#8A8A8C;
        --inputBorder:#D9D9D9;
        --textWhite:#ffffff;
        --textBlack:#000000;
        --lightWhite:#E2E8F0;
        --lightDark:#000000;
        --bgblack:#0F172A;
        --sectionBG:#0F172A;
        --borderLightGreen:rgba(216, 244, 246, 0.20);
        --Borderbr:#293648;
        --inputDarkBorder:#475569;
        --labelGrey:#9baab5;
        --stepsGrey:#94a3bb;
        --placeholderGrey:#64748B;
        --summaryLabelGrey:#94A3BB;
        --breadcrum:#94A3BB;
        --sidebarBr:#46596f;
        --profileBr:#394859;
        --borderHr:#d8f4f60a;
        --textPrimary:#4768E0;
        --cancelButtonBlackBg:#0F172A;
        --cancelButtonGreyBorder:#1E232A;
        --buttonActiveBg:#2e4ec2;
        --cancelBtnHover:#2C333A;
        --textRed:#EF5350;
        --menuText:#94A3BB;
        --menuhover:#334155;
        --logoutBtn:#101114;
        --logoutBtnHover:#EF5350;
        --descriptionGreyTwo:#94A3BB;
        --buttonGreyBg:#34383E;
        --leftamountbg:#1A1A1A;
        --leftamontBr:#3C4147;
        --searchBg:#000000;
        --searchBr:#323130;
        --tableheaderBlack:#0F172A;
        --tableheaderBorder:#3C4147;
        --kheadText:#94A3BB;
        --coinListBg:#334155;
        --coinListActive:#334155;
        --coinBr:#303438;
        --nameCircle:#4768E0;
        --transparentBlackBg:rgba(56, 57, 59, 0.04);
        --rightincard:#0F172A;
        --rightincardBr:#3C4147;
        --summaryLabel:#94A3BB;
        --summaryText:#E2E8F0;
        --summarytotalbr:#444B4F;
        --tabletdBg:#1A1A1A;
        --tabletdBghover:#0F172A;
        --signUpDarkBg:#1F2125;
        --screenBlackBg:#334155;
        --textGrey:#94A3BB;
        --loginGreyBorder:#1E232A;
        --modaltextbr:#454C50;
        --modalcontText:#BBBBBB;
        --numerBadge:#8C8E91;
        --btnDisabled:#f5f5f4;
        --uploadCard:#1E1F22;
        --greySupportedPlotforms:#999999;
        --textGreen: #33CCAB;
        --textLightRed:#EF5350;
        --textSkyblue:#4768E0;
        --amountBr:#334155;
        --darkyellowStatus:#B88A00;
        --permissionTopbr:#3C4147;
        --textGray:#94A3BB;
        --textGray2:#8896ac;
        --bgOrange:#E2E8F0;
        --requiredRed:#EF5350;
        --cardBg:#1E2B3B;
        --cardBorder:rgba(216, 244, 246, 0.09);
        --addLabelBg:#101014;
        --amounttableHeader:rgba(56, 57, 59, 0.04);
        --kendoheader:#151619;
        --kendoheadbr:#1E232A;
        --kbodyrow:#16171A;
        --kbodyrowbr:#334155;
        --kendotdBghover:#0F172A;
        --kendotdBghoverBr:#3C4147;
        --kendofooter:#34383E;
        --kendofooterbr:#555E63;
        --kfooterarrow:#999B9E;
        --kpagetrbg:#00C9FF36;
        --kpagenum:#999B9E;
        --tableInputBg:#151619;
        --scrollBar:#000000;
        --referralbg:#000F1E;
        --referralborder:#717378;
        --lighttext:#A5A6A8;
        --tabbg:#34383E;
        --profileTabActiveBg:#334155;
        --tabActive:#4768E0;
        --overlayblack:rgba(122, 122, 121, 0.12);
        --profileBtn:#34383E;
        --amountBbr:#3D4346;
        --errorBorderRed:#EF5350;
        --closedStatus:#808286;
        --tabcolor:#94A3B8;
        --getcodebr:#505050;
        --labelborder:#31363A;
        --notifPara:#908D8D;
        --profilehrbr:#334155;
        --profilesubtext:#F1F1F1;
        --blueBorder:#1C77EA;
        --errorpara:#A1A2A3;
        --textApproved:#33CCAB;
        --textPending:#FFBF00;
        --textReject:#EF5350;
        --textSubmit:#7b95ea;
        --inputDisabled:#334155;
        --secondaryBg:#1F2125;
        --greennotification:#33CCAB;
        --qrcodeBg:#34383E;
        --registerLabelBg:#1F2125;
        --errorBg:#EF5350;
        --warningBg:#fbdc7f;
        --infoBg:#17a2b8;
        --partiallyPaid:#FF9800;
        --StrokeColor:#334155;
        --tabletext:#8F9092;
        --inputfield:#2F3337;
        --feesviewborder:#773E13;
        --membershipcardsbg:#000F0C;
        --membershiptextblue:#0EB0FB;
        --membershipborder:#80D7FF;
        --membershiptextsilver:#D0B28B; 
        --membershipbordersilver:#CFBDA9;
        --membershipgoldtext:#E9BD5C;
        --membershiplightsilver:#AEBABA;
        --membershipfreecardbg:#1F2023;
        --membershipvaultsbg:#1B1C1F;
        --membershiptableborder:#272A2D;
        --browncolor:#A56C41;
        --deposisttablebr:#25272B;
        --membershiptopbr:#222428;
        --referralBg:#17171E;
        --referralBr:#45454A;
        --dbkpiPara:#94A3BB;
        --dbkpiText:#E5ECF2;
        --dbkpiStroke:#0F172A;
        --titleColor:#E2E8F0;
        --kpcardhover:#1E2B3B;
        --advcard:#1E2B3B;
        --paraColor:#94A3BB;
        --subTextColor:#E2E8F0;
        --BlackBg:#000;
        --sidedrawerBg:#1E2B3B;
        --defaultBadge:#1E88E5;
        --radioBtn:#94A3BB;
        --Unfreezed: #3CB371;
        --FreezePending: #FFD700;
        --UnfreezePending: #FF7F50;
        --UnderMaintenance: #B22222;
        --Freezed: #B0BEC5;
        --leftlistHover:#334155;
        --pendingStatus:#FFD700;
        --cardbackground:#1E2B3B;
        --tabsBg:#334155;
        --cryptoline:#344866;
        --inputBg:#0F172A;
        --notPaid:#5981FF;
        --paidApproved:#1B9C3B;
        --canceled:#f65757;
        --submiteted:#7b95ea;
        --rewardsTabsText:#E5ECF2;
        --rewardsBtnBg:#334155;
        --questGreenBg:#006b2d;
        --questGreenBorder:#04694b6b;
        --questPurpleBg:#975bdc;
        --questPurpleBorder:#6c40ed;
        --inputTextBorder:#3e4f68;
        --orangeBg:#6c550e;
        --textvodika:#BACBFC;
        --disableBtnBg:#334155;
        --dropdownBg:#1E2B3B;
        --dropdownSelectBg:#334155;
        --skeletonLoader: linear-gradient(90deg, rgba(85, 101, 114, 0.1) 25%, rgba(154, 155, 157, 0.23) 37%, rgba(114, 114, 114, 0.27) 63%);
        --themeIcons:url(./icons/rapidz-dark-theme-icons.svg);
    } 
    
}  


.ant-picker-cell-hover.ant-picker-cell-selected .ant-picker-cell-inner{@apply !text-textWhite}
.range-buttons .active,.custom-hover,.bg-nameCircle{@apply !text-textWhite}
.custom-btn-links,.custom-btn-links:hover{@apply !text-textWhite}